KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

GHL_API_KEY=
GHL_LOCATION_ID=

ADMIN_PASSWORD=

AGENTES_JSON=[{"id":"agente1","nombre":"Agente 1","email":"agente1@cliente.com"},{"id":"agente2","nombre":"Agente 2","email":"agente2@cliente.com"}]
ADMINS_JSON=[{"email":"supervisor@cliente.com","nombre":"Supervisor"}]
